@{
    Layout = "/Content/Layout.cshtml";

}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Project Flannel Main Page</title>

    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'></script>
<!--<script type="text/javascript" language="Javascript" src="jquery.simpleImageCheck-0.4.js"></script>-->

</head>
<body>

<div id="container" style="width:100%;position:absolute;top:0px;left:0px;">

<div id="header">
<h1 style="position:relative;left:50px;bottom:40%">Project Flannel</h1>
</div>

<div id="content">
    <div id="left_side">
    <!--<p style="position:relative;left:30px;">-->
    <form action="~/Home/Results" method="get" style="position:relative;left:30px;">
    <input type="button" name="submit" id="submit" class="SubmitButton" onclick="process_data();" /><br />
    </form> 
        <b>Step 1: Select Some Of The Bands From Here -> <br />
        Step 2: Click Submit. <br />
        Step 3: ??? <br />
        Step 4: Profit. <br /></b>
    <!--</p>-->
    </div>

    <div id="right_side" style="height:95%">
        <!-- height:420px  -->
        <form action="~/Home/Results" id="BandForm" style="overflow:auto; height:80%">
        @Html.Raw(ViewBag.Likes)
        </form>

        <input name="NewBand" id="newband" type="text" />
        <input type="button" value="Add" onClick="add()" />

    </div>
 </div>

<div id="footer">
FOOT STUFF</div>

</div>


<script  type="text/javascript">
    document.onkeypress = processKey;

    function processKey(e) {
        if (null == e)
            e = window.event;
        if (e.keyCode == 13) {
            add();
        }
    }



    var highest_element = "@ViewBag.highest_id";

    function ImageCheckbox(inputElement, imageSrcOn, imageSrcOff, inChecked) {
        var input = inputElement;
        var image = createImageElement();
        function createImageElement() {
            var img = document.createElement('img');
            img.setAttribute('width', "60");
            img.setAttribute('height', "60");
            img.setAttribute('style', "margin-top:10px;margin-left:15px");
            input.checked = inChecked;
            if (input.checked) {
                img.setAttribute('src', imageSrcOn);
            }
            else {
                img.setAttribute('src', imageSrcOff);
            }

            img.addEventListener('click', toggle, true);

            input.parentNode.insertBefore(img, input);
            input.addEventListener('click', toggle, true);
            input.style.display = 'none';

            return img;
        }

        function toggle(e) {
            if (e.currentTarget.nodeName.toLowerCase() == 'img') {
                input.checked = !input.checked;
            }

            image.src = (input.checked ? imageSrcOn : imageSrcOff);
        }
    }

    function add() {

        $.ajax({
            url: '/Home/spellCorrect',
            type: 'POST',
            contentType: 'application/json;',
            data: JSON.stringify({ id: document.getElementById("newband").value }),
            success: function (correct) {
                if (correct.correct != "") {
                    highest_element++;
                    var div = document.createElement("div");
                    div.setAttribute("class", "music_box");
                    var element = document.createElement("input");
                    element.setAttribute("type", "checkbox");
                    element.setAttribute("value", correct.correct);
                    element.setAttribute("name", correct.correct);
                    element.setAttribute("id", highest_element);

                    var element2 = document.createTextNode(correct.correct);
                    var element3 = document.createElement("br");


                    div.appendChild(element);
                    div.appendChild(element2);
                    div.appendChild(element3);
                    var foo = document.getElementById("BandForm");
                    foo.insertBefore(div, foo.firstChild);


                    var checkbox = new ImageCheckbox(element, 'http://localhost:23232/Content/Images/checkbox_checked.png', 'http://localhost:23232/Content/Images/checkbox_unchecked.png', true);

                    document.getElementById("newband").value = "";
                    $(foo).scrollTop(0);
                }
                else {
                    alert("Artist is not in DB");
                }

            }
        });


    }

    for (var i = 1; i <= highest_element; i++) {
        var checkbox = new ImageCheckbox(document.getElementById(i), 'http://localhost:23232/Content/Images/checkbox_checked.png', 'http://localhost:23232/Content/Images/checkbox_unchecked.png', false);
    }

    function process_data() {
        var str = "";
        for (var i = 1 ; i <= highest_element; i++) {
            if (document.getElementById(i).checked == true) {
                str += "|" + document.getElementById(i).value + "|";
            }
        }
        location.href = "Results" + "?bands=" + str;

    }
</script>

</body>
</html>