@{
    Layout = "/Content/Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Results</title>
</head>
<body>
    <div id="container" style="width:100%;position:absolute;top:0px;left:0px;">

    <div id="header">
    <h1 style="position:relative;left:50px;">Project Flannel</h1>
    </div>

    <div id="content">
        <div id="left_side2">
        @Html.Raw(ViewBag.Message)
        <br /><br />
        
        </div>
        <div id="right_side2">
            <input type="button" name="submit" id="submit" class="BackButton" onclick="go_back();" /><br />
        </div>
    </div>
    </div>

<script  type="text/javascript">
    function go_back() {
        location.href = "Main";

    }

    $(document).ready(function () {      // Wait for the HTML to finish loading.
        var resize = function () {
            var height = $(window).height();  // Get the height of the browser window area.
            var element = $("body");          // Find the element to resize.
            element.height(height);           // Set the element's height.
        }
        resize();
        $(window).bind("resize", resize);
    });
</script>
</body>
</html>
